.father{
    width: 100%;
    height: 150px;
    position: relative;
}
.btn_sort{
    border-radius: 12px;
    border: none;
    width: 80px;
    height: 30px;
    background: rgba(184, 134, 11, 0.71);
    position: absolute;
    left: 360px;
    top:50%;
    color: white;
}

.input_filter_by_category, .input_search_by_product_name{
    border-radius: 12px;
    border: none;
    width: 220px;
    height: 30px;
    background: rgba(128, 128, 128, 0.61);
    margin-right: 10px;
}

.input_filter_by_category::placeholder, .input_search_by_product_name::placeholder{
    color: black;
    padding: 5px;
}

.input_container{
    position: absolute;
    top: 50%;
    left: 450px;
}